[Interface]
PrivateKey = {{ private_key_decoded }}
Address = {{ vpn_ip }}

[Peer]
PublicKey = {{ hostvars[groups['rancher'][0]]['current_node_public_key'].stdout }}
Endpoint = {{ hostvars[groups['rancher'][0]]['ansible_host'] }}:51820
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
