[Interface]
PrivateKey = {{ private_key_decoded }}
Address = 10.0.0.{{ loop.index + 1 }}/24

[Peer]
PublicKey = {{ server_public_key }}
Endpoint = {{ vpn_server_ip }}:51820
AllowedIPs = 0.0.0.0/0
PersistentKeepalive = 25
